@tailwind base;
@tailwind components;
@tailwind utilities;

.cnt {
  @apply text-red-600;
  @apply absolute left-1/2 transform -translate-x-1/2 top-1/2 transform -translate-y-1/2;
}

.player-cnt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.player {
  width: 100%;
  height: 100%;
}

.control-cnt-bg {
  bottom: 0;
  position: absolute;
  background-color: gray;
  opacity: 2%;
  height: 50%;
  width: 100%;
}

.control-btn {
  cursor: pointer;
  margin: 10px 10px;
}

.control-cnt {
  display: flex;
  bottom: 0;
  position: absolute;
}

.volume-control {
    display: flex;
    align-items: center;
}
