body {
  @apply overflow-hidden;
}

.home-cnt {
  @apply bg-[#1f1f1f] absolute h-screen overflow-y-hidden inset-0;
}

.reorder-btn-cnt {
  @apply flex items-center mt-[52px] p-[20px];
}

.reorder-info-text {
  @apply text-[#1f1f1f] text-lg bg-[#adff00] p-[5px] rounded-[3px] mr-[3px];
}

.reorder-btn {
  @apply cursor-pointer text-[#adff00] text-lg font-medium ml-auto mr-[10px] p-[8px] rounded-lg border-2 border-solid border-[#adff00];
}

.reorder-btn--save {
  @apply ml-0;
}

.playlist-loader {
  @apply !absolute top-[50%] left-[50%];
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #adff00;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}
