.player-cnt {
  @apply absolute left-[50%] top-[50%];
  transform: translate(-50%, -50%);
}
.player {
  @apply w-full min-h-full;
}
.control-cnt-bg {
  @apply absolute bg-[gray] h-[30%] w-full bottom-0;
  background: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.55) 0%,
    rgba(128, 128, 128, 0.05) 100%
  );
}
.control-btn {
  @apply cursor-pointer fill-[white] stroke-[white] stroke-[2px] m-2.5;
}
.control-cnt {
  @apply flex absolute items-center w-full bottom-0;
}
.control-play-seek {
  @apply flex items-center flex-1;
}
.control-seek-time-cnt {
  @apply flex items-center w-full mt-[5px];
}
.control-cnt--right {
  @apply flex items-center ml-[5px];
}
.volume-control {
  @apply flex items-center mr-[5px];
}
.total-time {
  @apply text-[white] text-xs font-bold tracking-[1px] ml-[7px];
}
.current-time {
  @apply text-[white] text-xs font-bold tracking-[1px] mr-[7px];
}

.seek-bar::-webkit-slider-thumb {
  @apply w-2.5 h-[5px] cursor-ew-resize shadow-[-1920px_0_0_1920px_#adff00] cursor-pointer;
  -webkit-appearance: none;
  background: #1f1f1f;
}
.volume-slider::-webkit-slider-thumb {
  @apply w-2.5 h-[5px] cursor-ew-resize shadow-[-80px_0_0_80px_#adff00] cursor-pointer;
  -webkit-appearance: none;
  background: #1f1f1f;
}
.seek-bar {
  @apply flex-1;
}
input[type="range"] {
  @apply overflow-hidden w-20 bg-[grey] cursor-pointer rounded-sm;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-[5px] text-[#adff00] -mt-px;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-progress {
  @apply bg-[#adff00];
}
input[type="range"]::-moz-range-track {
  @apply bg-[grey];
}
input[type="range"]::-ms-fill-lower {
  @apply bg-[#adff00];
}
input[type="range"]::-ms-fill-upper {
  @apply bg-[grey];
}
